/* You can add global styles to this file, and also import other style files */
div, aside, select, input, button, ul, li {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans';font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    /* overflow-y: auto; */
}
